extends layout

block content
  .container
    .row
      .admin-container.col-sm-10
        section.contact
          h1(data-heading) EC CONTACT LIST
          a.logout(onclick="logout()") logout
          span.divider |
          a(href="/admin") add user
          span.divider |
          a(href="/contact") "contact Us" list
          span.divider |
          a(href="/subscribe") "Blog Subscribe" list
          span.divider |
          a(href="/report") "Report" list
        .list
          ul
            each contact in contactData
              li
                .inline Name: #{contact.firstName} &nbsp #{contact.lastName}
                .inline Email: #{contact.email}
                .inline Phone: #{contact.phone}
                .inline Contact Reason: #{contact.reason}
                .inline Create Date: #{contact.time}
                .message Message: &nbsp;#{contact.message}

        script.
          function logout() {window.sessionStorage.clear(); window.location = "/admin"}

