extends layout

block content
  .container
    .row
      .admin-container.col-sm-10
        section.contact
          h1(data-heading) EC CONTACT LIST
          a.logout(onclick="logout()") logout
          span.divider |
          a(href="/admin") add user
          span.divider |
          a(href="/contact") "contact Us" list
          span.divider |
          a(href="/subscribe") "Blog Subscribe" list
          span.divider |
          a(href="/report") "Report" list
        .list
          ul
            each rep in reportData
              li
                .inline Name: #{rep.firstName} &nbsp #{rep.lastName}
                .inline Email: #{rep.email}
                .inline Company: #{rep.company}
                .inline Create Date: #{rep.time}
        script.
          function logout() {window.sessionStorage.clear(); window.location = "/admin"}